@page
@model Semesterprojekt2.Pages.BookATime.BookedDays.DeleteBookedDaysModel
@{
}
<body>

    <h1>Delete Confirmation></h1>
    <div class="alert alert-danger">
        <h5>Are you sure you want to delete Booked Days from @Model.BookedDays.StartDate to @Model.BookedDays.EndDate. Made by @Model.BookedDays.User.Name</h5>
        <form method="post">
            <button type="submit" class="btn btn-danger">Yes</button>
            <a class="btn btn-primary" asp-page="/BookATime/BookedDays/BookedDays">No</a>
        </form>
    </div>

</body>