@page 
@model Semesterprojekt2.Pages.Shop.Products.DetailProductModel
@{
}

<div class="row mt-4">
    <div class="col-lg-3 mb-4"></div>
    <div class="col-lg-6 mb-4">
        <div class="card">
            <img src="~/images/Shop/@Model.Product.ProductImage"/>
            <div class="card-body">
                <h3 class="card-title mb-2"><span>@Model.Product.Name</span></h3>
                <div class="card-text mb-4"><span>@Model.Product.Description</span></div>
                <h6 class="card-footer text-muted"><span>Price: @Model.Product.Price</span></h6>
            </div>
        </div>
    </div>
    <div class="col-lg-3 mb-4"></div>
</div>