@page
@model Semesterprojekt2.Pages.FooterPages.FAQModel
@{
}

<style>
    body {
        color: black;
    }

    a{
        text-decoration: none;
        color: Black;
    }
</style>

<body>
    <h1><center>FAQ</center></h1>
    <hr />
    <br />

    <h6><strong>Q: How long does it take to groom my pet?</strong></h6>
    <p>
        A: The time taken will depend on the condition and length of your dog's hair. 
        The sessions often range from two to six hours on average, with larger dogs or dogs with long hair requiring more time than short-haired breeds. 
        It’s important not to rush the grooming process to avoid risking injury to your pet. 
    </p>

    <h6><strong>Q: How much does it cost for my pet to be groomed?</strong></h6>
    <p>
        A: Pricing is based on breed, hair length, the condition of your dog’s hair, its temperament, age, and grooming history. <br />
        You can see the approximate prices on our <a asp-page="/Prices/Prices"><u>Prices</u></a> page.
    </p>

    <h6><strong>Q: How can I make grooming easier for my pet?</strong></h6>
    <p>
        A: While some dogs don’t mind being groomed, others may become anxious or even aggressive due to fear. 
        It’s important to be patient with dogs that show signs of discomfort during grooming sessions. 
        To make the process easier on your pet, start with brief sessions and gradually increase the length over time.
    </p>

    <h6><strong>Q: How often do dogs need their nails trimmed?</strong></h6>
    <p>
        A: Many pet owners overlook the importance of regular nail trims. When nails become overgrown, it can be painful for your pet to walk. 
        Long nails can also impact your dog’s posture and gait and can contribute to inflammation in the joints. In time, long nails can split or curl into the dog’s skin or paw pads, 
        resulting in pain and infection. To prevent these issues, aim to trim your dog’s nails approximately every three to four weeks. 
        Dogs that spend a lot of time walking on pavement may require less frequent nail trims as their nails will wear down naturally.
    </p>

    <h6><strong>Q: Can mats in dog fur be removed?</strong></h6>
    <p>
        A: Dogs with longer coats often experience matting in their hair. Extremely matted or tangled fur can be difficult to resolve and can cause your dog stress and possible injury. 
        Depending on the severity of the matting, they may need to be removed with clippers which involves trimming the coat very close to the skin. 
        Smaller mats or tangles can often be remedied with the right dematting tools and patience.
    </p>

    <h6><strong>Q: Do dogs require special shampoo?</strong></h6>
    <p>
        A: You may be tempted to use your own shampoo on your pet, but this isn’t a good idea. Human shampoos are often too harsh for dogs and can strip away the natural oils in their coat, 
        leaving the skin dry and vulnerable to irritation. Dog shampoo is gentler and is specifically designed to be used on dogs’ skin and coat. 
        There are also different types of dog shampoos on the market that can help various ailments, such as itchy skin. Medicated shampoos, oatmeal shampoos, 
        and dog flea shampoos are common options.
    </p>
    
    <h6><strong>Q: Why is pet grooming important?</strong></h6>
    <p>
        A: Pet grooming is important for more than just aesthetics alone. Proper grooming can help combat shedding, prevent bacteria from spreading through your home, 
        and help keep long-haired dogs cool and comfortable. Grooming also promotes healthy nails, skin, and teeth, and can serve as a way for pet owners to identify lumps, 
        rashes, dental problems, or other health issues a dog may be experiencing.
    </p>

    <h6><strong>Q: What type of payment do you accept?</strong></h6>
    <p>
        A: You can either pay with cash or via Mobilepay. Dankort or other card payments are not accepted at the moment.
    </p>

    <h6><strong>Q: What if I am not happy with the service my dog receives?</strong></h6>
    <p>
        A: If for any reason you are not happy with the grooming results, please let us know within 24 hours so we can do our best to make it right.
    </p>

</body>

