@page
@model Semesterprojekt2.Pages.FooterPages.Terms_and_ConditionsModel
@{
}

<style>
    body{
        color: black;
    }
</style>

<body>
    <h1><center>Terms and Conditions</center></h1>
    <hr />
    <br />

    <div>
        <h6><strong>When you book an appointment with us, you accept the terms and conditions below</strong></h6>
        <p>
            Our philosophy is to offer a calm and comfortable experience and treatment for your dog.
            Your dog's safety and well-being is our first priority therefore we refuse to perform any grooming procedure that causes pain or stress to your dog.
        </p>

        <h6><strong>Security</strong></h6>
        <p>
            The safety of your dog and our staff is taken very seriously. <br />
            For this reason, we do not allow dog owners to be in the grooming area during the appointment. Your dog will want to be where you are,
            and we will have a hard time keeping their attention when they can smell you from the other room. We need your pup to be fully relaxed and focused on the groomer.
        </p>

        <h6><strong>Practicalities before the grooming session</strong></h6>
        <p>
            As the owner, you are obliged to inform us of any medical, physical, emotional conditions and allergies of the dog. <br />
            We groom dogs that are in heat as well, just please let us know in advance, as they can be a bit more sensitive than usual.🙂 <br />
            For your dog's safety, you must bring your dog in and out of the salon on a leash. This is to ensure that your dog does not run out the door if another customer is going into the store,
            but also to ensure that they do not run out in front of pedestrians and cyclists when you leave the salon. It also allows us to lead your dog safely into the grooming area.
            We keep your dog's leash and harness during the stay and put it back on when you pick them up. <br />
            Please make sure your dog had a nice walk before the appointment. <br />
            We cannot predict how long the grooming session will be, but we will call you approximately half an hour before we are finished.
        </p>

        <h6><strong>Late arrival and cancellation</strong></h6>
        <p>
            If you arrive late or are delayed, please call us as soon as possible so we can find out if we still have time to groom your dog or if we have to reschedule.
            If you arrive late, it takes time away from your dog's treatment and we might not be able to carry out the work safely and correctly in terms of quality.<br />
            We reserve the right to move your appointment if you are more than 15 minutes late. <br />
            Should you need to cancel your appointment, please give us 24 hours notice so that we can fill that time slot with another customer. <br />
            Appointments must be cancelled by calling + 45 29 25 25 38 no later than 24 hours before your appointment. In case of no-show or late cancellation,
            we charge a fee of 50% of the price of the treatment.
        </p>

        <h6><strong>Accidents, damage and insurance</strong></h6>
        <p>
            Mishaps and accidents can occur, after all, we are dealing with live animals, and no dog is 100% still (but 100% good doggo).
            The cutting equipment is sharp and although we use extreme caution and care in all situations, there is always the rare possibility that an accident could happen. <br />
            We always strive to ensure that your dog is cared for as safely as possible. If your dog gets cut during the grooming session,
            we will of course notify you and advise on how to treat the injury. <br />
            Injuries caused due to the neglect of the fur or due to the dog's behaviour is not the salon's responsibility.
            Any veterinary costs due to these accidents are at the dog owner's expense and the dog's own insurance.
        </p>

        <h6><strong>Denied service</strong></h6>
        <p>
            We reserve the right to refuse aggressive dogs that can be a danger to themselves and the staff. If a dog becomes too aggressive or stressed to a great extent while being cared for,
            the owner will be contacted and asked to pick up their dog, as the treatment cannot be carried out properly.
            We are trained professionals and we reserve the right to refuse service to the client/client's dog at any time and for any reason.
        </p>

        <h6><strong>Knots in the fur / Neglect of fur care</strong></h6>
        <p>
            We like to see when the dog is well brushed and combed out before grooming as it makes the grooming smoother and more comfortable for your pup.
            In this case we don't have to spend extra time sorting out or cutting off the matted area. If we have to spend extra time on your dog because of your neglect in fur care,
            it will cost you an additional fee of 100 DKK / half an hour that has been used extra.<br />
            If your dog’s fur is tangled, we assess and decide whether it is something that can be safely groomed or whether it needs to be cut off. Your dog's comfort level,
            health and well-being take priority over what you think looks cute. So if you think your dog is cutest when it is long-haired, it is also your responsibility to keep its fur tangle-free. <br />
            You are always welcome to ask us for tips and tricks on how to care for your furry friend’s fur.
        </p>

        <h6><strong>Satisfaction policy</strong></h6>
        <p>
            If for any reason you are not happy with the grooming results, please let us know within 24 hours so we can do our best to make it right. <br />

            It may also be that there is something you want cut differently, then you can simply inform us at the next appointment and then we will do our best to fulfill your wishes.
            You are welcome to show us pictures of a desired cut or style you would prefer.
        </p>
    </div>
</body>
