@using Semesterprojekt2.Pages.Login

<!DOCTYPE html>
<html lang="en">
<head>
    <meta property="og:title" content="Shampoodle">
    <meta property="og:description" content="Your mobile doggroomer in Copenhagen">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="hundefrisør, mobil hundesalon, mobil hundeklipning, hundeklip, hundepleje, vovseklip,  salon,  doggrooming, pet grooming, pet care, dog hairstylist, pet stylist, doggroomer, udkørende hundefrisør, hvalpe-pakke, parfumefri, Kæledyrsfrisør, Hundestilist, Kæledyrsgroomer, Hundeplejeekspert, dog wellness, doggy makeover, dog beauty spa, On-the-go pet grooming, mobile pet spa">
    <meta name="description" content="Shampoodle - Your mobile doggroomer in Copenhagen"> @* Date til hjælp af søgning *@
    <title>@ViewData["Title"] - Semesterprojekt2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.Zephyr.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Semesterprojekt2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> @* Font Awesome Icons *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"> @* Bootstrap Icons *@
    <link href="~/Images/Logo/LogoPicture.png" rel="shortcut icon" type="image/x-icon"> @* Icon i toppen af fanen *@
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" style="width: 150px; height: 90px; margin-left: -40px; margin-top: -20px; margin-bottom: -10px;" asp-area="" asp-page="/Index"><img src="~/Images/Logo/LogoPictureAndText.png" style="height: 100%; width: auto;" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" style="margin-left: 23%;">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/BookATime/Calendar">Book A Time</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Prices/Prices">Prices</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Shop/Shop">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Info/Info">Info</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item" style="margin: 8%;">
                            <div class="dropdown" style="float:right;">
                                <i class="bi bi-person" style="font-size:25px"></i>
                                <div class="dropdown-content" style="right:0;">
                                    @{
                                        if (LoginModel.LoggedInUser == null)
                                        {
                                            <a class="nav-link text-dark" asp-area="" asp-page="/Login/Login">Login</a>
                                        }
                                        else
                                        {
                                            <a class="nav-link text-dark" asp-area="" asp-page="/Profil/Profil">Profile</a>
                                            <a class="nav-link text-dark" asp-area="" asp-page="/Orderhistory/BookATimeOrderHistory">Order history</a>
                        
                                             
                                            /*  CreateAdmin Page: Accessible as Admin */
                                            if (LoginModel.LoggedInUser.Role == "Admin")
                                            {
                                                <a class="nav-link text-dark" asp-area="" asp-page="/Login/CreateAdmin">Create Admin</a>
                                                <a class="nav-link text-dark" asp-area="" asp-page="/Login/UserOverview">User Overview</a>
                                                <a class="nav-link text-dark" asp-area="" asp-page="/Orderhistory/BookATimeOverview"> Book A Time Overview</a>
                                                
                                            }

                                            <a class="nav-link text-dark" asp-area="" asp-page="/Login/LogOut">Log Out</a>

                                        }
                                    }
                                </div>
                            </div>
                        </li>
                        @{
                            if (LoginModel.LoggedInUser == null)
                            {
                                <a class="nav-link text-dark" style="margin: 2%;" asp-area="" asp-page="/Login/Login"><i class="bi bi-bag" style="font-size:20px;"></i></a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" style="margin: 2%;" asp-area="" asp-page="/ShoppingCart/ShoppingCart"><i class="bi bi-bag" style="font-size:20px;"></i></a>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="row" style="width: 100%;">
            <div class="col">
                <div class="FooterContainer">
                    <center>
                        <p style="line-height: 120%;">
                            <br />
                            <br />
                            <br />
                            <br />
                            <a href="https://www.facebook.com/shampoodle.dk" target="_blank" title="Facebook" style="color: gray;"><i class="bi bi-facebook" style="font-size:36px; padding: 7px;"></i></a>
                            <a href="http://instagram.com/shampoodle.dk" target="_blank" title="Instagram" style="color: gray;"><i class="bi bi-instagram" style="font-size:36px; padding: 7px;"></i> <br /></a>
                        <br /> Krisztina Antal <br />
                            CVR: DK 44391244
                        </p>
                    </center>
                </div>
            </div>  
            <div class="col">
                <div class="FooterContainers">
                    <center>
                        <h5 style="padding-top: 20px;" ><strong>Address and Contact</strong></h5>
                    </center>
                        <div class="row" style="padding: 10px;">
                            <div class="col">
                                    <p style="line-height: 120%; margin:auto;">
                                        <br />
                                        <strong>Address: </strong> 
                                    </p>
                            </div>
                            <div class="col">
                                <center>
                                    <p style="line-height: 120%; margin:auto; margin-top: 5%;" >
                                        Greve Hundesalon og Spa <br /> 
                                        Greve Strandvej 29 | 2670 Greve
                                    </p>
                                </center>
                               </div>
                        </div>
                    <div class="row" style="padding: 10px;">
                            <div class="col">
                                    <p style="line-height: 120%; margin:auto;">
                                        <strong>Phone:</strong>
                                    </p>
                            </div>
                            <div class="col">
                                    <p style="line-height: 120%; margin:auto;">
                                        + 45 29 25 25 38
                                    </p>
                            </div>
                        </div>
                    <div class="row" style="padding: 10px;">
                            <div class="col">
                                    <p style="line-height: 120%; margin:auto;">
                                        <strong>Email:</strong>
                                    </p>
                            </div>
                            <div class="col">
                                    <p style="line-height: 120%; margin:auto;">
                                        Shampoodledk@gmail.com
                                    </p>
                            </div>
                        </div>
                </div>
            </div>  
            <div class="col">
                <div class="FooterContainers">
                    <center>
                        <p style="line-height: 120%; ">
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <a style="text-decoration:none; color:#495057BF;" asp-area="" asp-page="/FooterPages/Terms and Conditions"><strong>Terms & conditions</strong></a> <br />
                            <a style="text-decoration:none; color:#495057BF;" asp-area="" asp-page="/FooterPages/FAQ"><strong>FAQ</strong></a>
                        </p>
                    </center>
                </div>
            </div>            
        </div>
        <div>
            <hr style="border-bottom: 1px solid #888;">
            <p style="line-height: 100%; padding-left: 10px;">&copy; 2024 By Shampoodle</p> 
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>