@page
@model Semesterprojekt2.Pages.Orderhistory.ProductOrderHistoryModel
@{
}
<center><h1>Product Order history</h1></center>
<div style="text-align: center;">
    <form method="post" asp-page="/Orderhistory/BookATimeOrderHistory">
        <button type="submit">Go to your service orders</button>
    </form>
</div>