@page
@model Semesterprojekt2.Pages.Orderhistory.ProductOrderOverviewModel
@{
}
<head>
    <style>
        .btn-outline-light {
            border: 1px solid black;
            background-color: transparent;
            color: black;
            padding: 8px 16px;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            box-shadow: 2px 2px 2px gray;
        }

    </style>
</head>
<body>

    <center><h1 style="color:black;">Product Order Overview</h1></center>
    <hr />
    <div style="text-align: center">
        <a class="btn btn-outline-light" asp-page="BookATimeOverview">Book A Time Overview</a>
    </div>
    <br />
</body>