@page
@model Semesterprojekt2.Pages.Shop.SoapModel
@{
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: "Lato", sans-serif;
            background-color: rgba(198, 81, 39, 0.08);
        }

        .sidenav {
            width: 130px;
            height: 1130px;
            position: absolute;
            z-index: 1;
            top: 70px;
            left: 10px;
            background: white;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 8px 0;
        }

            .sidenav a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 20px;
                color: black;
                display: block;
                font-size: 18px;
            }

                .sidenav a:hover {
                    color: #064579;
                }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 285px;
            margin: auto;
            text-align: center;
            font-family: arial;
            margin-left: 100px;
        }

        .price {
            color: grey;
            font-size: 20px;
        }

        .card-container {
            display: flex;
            justify-content: space-around;
            align-items: stretch;
        }

        .card-link {
            text-decoration: none;
            color: inherit;
            display: block;
        }

        .card-link:hover {
            text-decoration: none;
        }

    </style>
</head>
<body>

    <div class="sidenav">
        <a asp-page="/Shop/Soaps">Soap</a>
        <a asp-page="/Shop/Toys">Toys</a>
        <a asp-page="/Shop/Brushes">Brushes</a>
        <a asp-page="/Shop/Treats">Treats</a>
    </div>

    <br>
    <br>

    <div class="card-container">
        <div>
        <a asp-page="/Shop/Products/Soaps/Soap1" asp-route-id="1" class="card card-link">
        <img src="/Images/Shop/testbillede.jpg" style="width:100%">   
            <h2>Sæbe 1</h2>
            <p class="price">50kr</p>
            <p>Beskrivelse til produktet.......................................................................................</p>
        </a>
        </div>
        <div>
        <a asp-page="/Shop/Products/Soaps/Soap1" asp-route-id="1" class="card card-link">
            <img src="/Images/Shop/testbillede.jpg" style="width:100%">
            <h2>Sæbe 2</h2>
            <p class="price">50kr</p>
            <p>Beskrivelse til produktet.......................................................................................</p>
        </a>
        </div>
        <div>
        <a asp-page="/Shop/Products/Soaps/Soap1" asp-route-id="1" class="card card-link">
            <img src="/Images/Shop/testbillede.jpg" style="width:100%">
            <h2>Sæbe 3</h2>
            <p class="price">50kr</p>
            <p>Beskrivelse til produktet.......................................................................................</p>
        </a>
        </div>
    </div>
    <br />
    <div class="card-container">
        <div>
        <a asp-page="/Shop/Products/Soaps/Soap1" asp-route-id="1" class="card card-link">
            <img src="/Images/Shop/testbillede.jpg" style="width:100%">
            <h2>Sæbe 4</h2>
            <p class="price">50kr</p>
            <p>Beskrivelse til produktet.......................................................................................</p>
        </a>
        </div>
        <div>
        <a asp-page="/Shop/Products/Soaps/Soap1" asp-route-id="1" class="card card-link">
            <img src="/Images/Shop/testbillede.jpg" style="width:100%">
            <h2>Sæbe 5</h2>
            <p class="price">50kr</p>
            <p>Beskrivelse til produktet.......................................................................................</p>
        </a>
        </div>
        <div>
        <a asp-page="/Shop/Products/Soaps/Soap1" asp-route-id="1" class="card card-link">
            <img src="/Images/Shop/testbillede.jpg" style="width:100%">
            <h2>Sæbe 6</h2>
            <p class="price">50kr</p>
            <p>Beskrivelse til produktet.......................................................................................</p>
        </a>
        </div>
    </div>

</body>
</html>
