@page
@model Semesterprojekt2.Pages.Login.DeleteUserbyAdminModel
@{
}

<h1>Delete Confirmation</h1>


<div>
	<br />

	@if (@Model.user != null)
	{
		<div style="background-color: #FFCCCC; padding: 20px; text-align: center; border-radius: 15px;">
			<h5>Are you sure you want to delete User: <br />  <br /> @Model.user.Name <br /> Id: @Model.user.UserId </h5>
			<br />
			<form method="post">
				<button type="submit" class="btn btn-danger">Yes</button>
				<a class="btn btn-primary" asp-page="/Login/UserOverview">Cancel</a>
			</form>
		</div>
	}

	<br />
	<br />

	<!-- Confirmation Message for when user gets deleted-->
	@if (TempData["Message"] != null)
	{
		<div class="alert alert-success">
			@TempData["Message"]
		</div>
		<div>
			<p>Return to <a asp-page="/Login/UserOverview">User Overview</a></p>

		</div>
	}

</div>

