@page "{id:int}"
@model Semesterprojekt2.Pages.Login.EditUserbyAdminModel
@{
}

<form method="post">
	<div class="form-group">
		<label asp-for="User.UserId" class="control-lable"></label>
		<input asp-for="User.UserId" class="form-control" readonly="@(true)" />
	</div>
	<div class="form-group">
		<label asp-for="User.Name" class="control-lable"></label>
		<input asp-for="User.Name" class="form-control" />
		<span asp-validation-for="User.Name" class="text-danger"></span>
	</div>
	<div class="form-group" hidden>
		<label asp-for="User.Password" class="control-lable"></label>
		<input asp-for="User.Password" class="form-control" />
		<span asp-validation-for="User.Password" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="User.Email" class="control-lable"></label>
		<input asp-for="User.Email" class="form-control" />
		<span asp-validation-for="User.Email" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="User.Telefonnummer" class="control-lable">Phone</label>
		<input asp-for="User.Telefonnummer" class="form-control" />
		<span asp-validation-for="User.Telefonnummer" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label hidden asp-for="User.Role" class="control-label"></label>
		<input hidden asp-for="User.Role" class="form-control" />
	</div>
	<div class="form-group" hidden>
		<label hidden asp-for="User.ProductOrders" class="control-label"></label>
		<input hidden asp-for="User.ProductOrders" class="form-control" />
	</div>

	<p>
		<div class="form-group">
			<input type="submit" value="Update" class="btn btn-primary" />
		</div>
	</p>
</form>

<p>
	<a asp-page="/Login/UserOverview">Back to User Overview</a>
</p>