@page
@model Semesterprojekt2.Pages.Login.ForgotPasswordModel
@{
}

<html>
<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "poppins", sans-serif;
        }

        body {
            min-height: 100vh;
            background-image: url('../Images/Login/Overskrift billede.jpg');
            background-size: cover;
            background-position: center;
        }

        .container {
            justify-content: center;
            align-items: center;
            /* height: 100vh; */
        }

        .wrapper {
            width: 420px;
            background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
            /* background: transparent; */
            border: 2px solid rgba(255, 255, 255, .2);
            background-filter: blur(20px);
            box-shadow: 0 0 10px rgba(0,0,0, .2);
            color: white;
            border-radius: 10px;
            padding: 30px 40px;
            text-align: center;
 
        }

            .wrapper h1 {
                font-size: 36px;
                text-align: center;
       
            }

    </style>
</head>
<body>
    <div class="container" style="display: flex;">
        <div class="wrapper">
            <form>
                <h1 style="font: white ">Forgot Your Password?</h1>
                <div>
                    
                    <p>
                        <br />
                        Just shoot us an email at Shampoodledk@gmail.com. <br />
                        <br />
                        We’ll help you out faster than a dog chasing its tail!
                    </p>

                </div>

            </form>
        </div>
    </div>
</body>
</html>