@page
@model Semesterprojekt2.Pages.ErrorPage.ErrorPageModel
@{
}

<html>
    <head>
    <style>
        h1
        {
            text-align:center;
            color: black;
           
    }

    p
    {
        font-size: 110%;
        color: black;
    }
    .C 
    {
        box-shadow: 4px 4px 10px #C65127; 
        position: relative;
        align-items: center;
        left: 11%;
        Margin: 6%;
        width: 65%;
        color: black;
        padding: 2%;
        text-align: center;
     
        background-color: rgb(239,231,225);
       
    }
    </style>
</head>
 <body>
        <div class="Alt">
        <br />
        <h1><b>Error: An unexpected error occurred</b></h1> 
    <div class="C">
       
    <p>I'm sorry, but an error has occurred on the website. <br /> Please try again later. If the problem persists, feel free to contact me for assistance. <br /> Thank you for your patience.</p>
        </div>
    </div>
</body>
</html>