@page
@model Semesterprojekt2.Pages.Orderhistory.BookATimeOrder.AcceptOrderModel
@{
}
<center><h1><b>Accept Order</b></h1></center>
<center><h1>Please confirmation</h1></center>
<div class="alert alert-success" style="text-align: center;">
   
    <h5>Are you sure you want to accept order - @Model.BookATime.DateForBooking</h5>
    <form method="post">
        <button type="submit" class="btn btn-success">Yes</button>
        <a class="btn btn-danger" asp-page="/Orderhistory/BookATimeOverview">No</a>
    </form>
</div>