@page
@model Semesterprojekt2.Pages.Profil.EditUserModel
@{
}

<form method="post" enctype="multipart/form-data">

	<!-- Confirmation Message for when password gets updated -->
	@if (TempData["Message"] != null)
	{
		<div class="alert alert-success">
			@TempData["Message"]
		</div>

	}


	<div class="form-group">
		<label asp-for="User.Name" class="control-label"></label>
		<input asp-for="User.Name" class="form-control" />
		<span asp-validation-for="User.Name" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="User.Email" class="control-label"></label>
		<input asp-for="User.Email" class="form-control" />
		<span asp-validation-for="User.Email" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="User.Telefonnummer" class="control-label"></label>
		<input asp-for="User.Telefonnummer" class="form-control" />
		<span asp-validation-for="User.Telefonnummer" class="text-danger"></span>
	</div>
	<div class="form-group">

		<label asp-for="User.Bio" class="control-label"></label> <br />
		<textarea asp-for="User.Bio" rows="4" cols="147"></textarea>
		<span asp-validation-for="User.Bio" class="text-danger"></span>

	</div>

	<div class="form-group">
		<label asp-for="@Model.ProfileImages" class="control-label"></label>
		<div class="custom-file">
			<input asp-for="@Model.ProfileImages" class="custom-file-input form-control" />
		</div>
		</div>
	<div class="form-group">
		<label hidden asp-for="User.UserId" class="control-label"></label>
		<input hidden asp-for="User.UserId" class="form-control" />
	</div>
	<div class="form-group">
		<label hidden asp-for="User.Role" class="control-label"></label>
		<input hidden asp-for="User.Role" class="form-control" />
	</div>
	<div class="form-group" hidden>
		<label hidden asp-for="User.ProductOrders" class="control-label"></label>
		<input hidden asp-for="User.ProductOrders" class="form-control" />
	</div>
	
	<br />

	<p>
		If you wish to update your details, please enter your password below.
		You can also choose to update your password by entering a new one.
	</p>

	<div class="form-group">
		<label asp-for="User.Password" class="control-label">Password</label>
		<input asp-for="User.Password" class="form-control" type="password" />
		<span asp-validation-for="User.Password" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="ConfirmPassword" class="control-label">Confirm New Password</label>
		<input asp-for="ConfirmPassword" class="form-control" type="password" />
		<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
	</div>
	
	<p>
		<div class="form-group">
			<input type="submit" value="Update" class="btn btn-primary" />
		</div>
	</p>

</form>

<p>
	<a asp-page="/Profil/Profil">Back to Profil</a>
</p>
