@page
@model Semesterprojekt2.Pages.Profil.ProfilModel
@{
}


<body>
    <center><h1>Profil</h1></center>
    <hr />

    <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>

                <a class="btn btn-primary btn-sm" title="Edit" asp-page="/Profil/EditUser" asp-route-id="@Model.Users.UserId">Edit</a>
    <a class="btn btn-danger btn-sm" title="Delete" asp-page="/Profil/DeleteUser" asp-route-id="@Model.Users.UserId">Delete</a>
    
</body>