@page
@model Semesterprojekt2.Pages.Profil.ProfilModel
@{
}


<body>
    <center><h1>Profil</h1></center>
    <hr />

    <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>

    <form action="/action_page.php" id="usrform">
        <div>
            <textarea rows="4" cols="50" name="comment" form="usrform">
Comment her!</textarea>
        </div>
        <input type="submit">
    </form>
</body>